<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- SMTP Configuration for sending emails -->
    <add key="SMTPHost" value="smtp.sendgrid.net"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPPort" value="25587"/>
    <add key="SMTPUser" value="apikey"/>
    <add key="SMTPPassword" value="SG.u7hyoQIQQ_CW0s5OEvJNfA.2pnBqiVR7FFcpeOIT10oiGNQUY9tNos_cU-ujefYWic9"/>
    <add key="SMTPFrom" value="satyendranamdeo78130@gmail.com"/>
    <add key="SMTPSSL" value="true"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true"/>
  </system.web>
  <connectionStrings>
    <add name="TDS" connectionString="Data Source=SATYEN78;Initial Catalog=TouchSkyDesire;Persist Security Info=True;User ID=sa;Password=123"/>
    <add name="TouchSkyDesireConnectionString" connectionString="Data Source=SATYEN78;Initial Catalog=TouchSkyDesire;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>